/*      ORDRE DE RANGEMENT DU CSS       */

/*-----------------------------------------*/
/*      1.ENSEMBLE       */

/*      2.SIDEBAR      */

/*      3.HEADER        */

/*      4.SECTIONS      */

/*      5.CONTACT       */

/*      6.FOOTER        */

/*      7.MEDIA       */
/*-----------------------------------------*/



/*      ENSEMBLE       */

* {
    overflow-x: hidden;
}

body {
    font-family: "Lexend",Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    flex: 1;
}

/*      SIDEBAR      */

.sidebar {
    background-color: #333;
    width: 19%;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    height: 100%;
    top: 0;
    left: -16%;
    transition: left 0.3s;
    overflow-y: hidden;
}

.arrow-container{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.arrow-icon {
    color: #fff;
    font-size: larger;
    padding-right: 15px;
}

.sidebar.open {
    left: 0;
}

.sidebar.open .arrow-icon {
    display: none; /* Masquer l'icône de flèche lorsque la sidebar est ouverte */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 30px;
    height: 100%;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a:not(#contact) {
    text-decoration: none;
    color: #fff;
    font-size: larger;
    margin: 1em;
}

.sidebar ul li a:hover:not(#contact) {
    color: #b358d4;
}

.div-lien-contacter{
    display: flex;
    justify-content: center;
}

.lien-contacter{
    margin-top: 50px;
    border-radius: 30px;
    background-color: #fff;
    width: 60%;
    padding: 10px;
    display: flex;
}

.lien-contacter:hover{
    background-color: #cbcbcb;
}

#contact{
    text-decoration: none;
    text-align: center;
    color: #b358d4;
    font-size: larger;
    width: 100%;
}


/*      HEADER        */

.main-content {
    background-color: #442250;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -2px 0 5px rgba(0,0,0,0.1);
    transition: margin-left 0.3s;
}

.main-content.open {
    margin-left: 10%;
}

.main-content h1 {
    font-size: 3em;
    color: #fff;
    font-style: italic;
}

.main-content h3{
    font-size: 2em;
    color: #fff;
    font-style: italic;
}

.main-content-inside{
    height: auto;
    text-align: center;
}

/*      SECTIONS      */

.sections {
    margin-left: 5%;
    padding: 20px;
    width: 90%;
    transition: margin-left 0.3s;
}

.sections p{
    font-size: larger;
}

.sections.open {
    margin-left: 10%;
}

.sections section {
    margin-bottom: 40px;
}

.sections section h2 {
    font-size: 2em;
    color: #333;
    padding-top: 60px;
    font-style: italic;
}

#list-disc {
    padding-left: 20px; /* Espacement entre la puce et le texte */
}

.sections .parcours ul li {
    font-size: larger;
    margin-bottom: 10px; /* Espacement entre les éléments de la liste */
    padding: 5px;
}

.sections .parcours ul li a {
    font-size: larger;
    color:#b358d4;
    border-radius: 2px;
}

.sections .parcours ul li a:hover{
    color: #b358d4;
    background-color: #cbcbcb;
    border-radius: 2px;
}

.sections .parcours ul li a:visited{
    color:#7c3894;
    border-radius: 2px;
}

.sections .mes-projets ul li {
    color:#7c3894;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 10px; /* Espacement entre les éléments de la liste */
    padding: 5px;
}

/*      CONTACT       */

form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 16px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #b358d4;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button[type="submit"]:hover {
    background-color: #672f7b;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: block;
  }

/*      FOOTER        */

footer {
    background-color: #442250;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/*      MEDIA       */


@media only screen and (max-width: 820px) {
    .sidebar{
        display: none;
    }

    .main-content.open {
        margin-left: 0%;
    }

    .sections{
        margin-left: 0px;
        width: auto;
    }
    
    .sections.open {
        margin-left: 0%;
    }
}

@media only screen and (min-width: 821px) and (max-width: 1270px) {
    /*à voir plus tard*/
}